$grey_primary: #1c1c1c;
$grey_secondary: #8c8c8c;
$yellow_primary: #fcc434;
$red_primary: #e50000;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  .header__title {
    font-size: 32px;
    margin: 0;
  }
  .form {
    display: flex;
    gap: 8px;
    width: 100%;
    margin-top: 16px;
    @media (min-width: 768px) {
      max-width: 400px;
    }
    @media (min-width: 992px) {
      max-width: 500px;
    }
    .form__search-input {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      background-color: $grey_primary;
      color: #fff;
      border-radius: 8px;
      border: none;
      padding: 8px 16px;
      flex: 1;
      &::-webkit-input-placeholder {
        color: $grey_secondary;
      }
      &::-moz-placeholder {
        color: $grey_secondary;
      }
      &:-ms-input-placeholder {
        color: $grey_secondary;
      }
      &:-moz-placeholder {
        color: $grey_secondary;
      }
    }
    .form__submit-button {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 700;
      background-color: $yellow_primary;
      color: #000;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      padding: 8px 16px;
    }
  }
  .header__form-error-message {
    color: $red_primary;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .sort-movies-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    .sort-movies-wrapper__text {
      color: $yellow_primary;
      margin: 0;
    }
    .checkbox-wrapper {
      display: flex;
      .checkbox-wrapper__checkbox {
        display: none;
        &:checked + .checkbox-wrapper__label {
          &::after {
            content: "✔";
            position: absolute;
            top: 0;
            left: 5px;
            font-size: 15px;
            color: $yellow_primary;
          }
        }
        & + .checkbox-wrapper__label {
          position: relative;
          display: inline-block;
          width: 25px;
          height: 25px;
          border: 2px solid $yellow_primary;
          border-radius: 4px;
          background-color: transparent;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            box-shadow: 0 0 8px 1px $yellow_primary;
          }
        }
      }
    }
  }
}
